body{
	margin: 0;
	padding: 0;
}
h1{
	/*text-align: center;*/
	color: gray;
	border-bottom: 5px solid aqua;
	width: 30%;
}
.arithmetic{
	/*text-align: center;*/

}
.arithmetic h2{
	color: pink;
	border-bottom: 5px solid gray;
	width: 30%;

	
}
h3 {
	color: gold;
}